.pagination-wrapper {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        &:after {
            content:  ' ';
            height: 1px;
            clear: both;
        }
    }
    li {
        float: left;
        margin-right: 10px;
        line-height: 30px;
        button {
            cursor: pointer;
            width: 30px;
            height: 30px;
            line-height: 30px;
            border: 0;
            background:rgba(240,242,245,1);
            border-radius:2px;
            font-size: 14px;
            color: #606266;
            &:disabled {
                color: #C0C4CC;
                background:rgba(240,242,245,1);
            }
        }
        &.active {
            button {
                background-color: #1989FA;
                color: white;
                &:disabled {
                    background-color: #1989FA;
                    color: white;
                }
            }

        }
    }
}

