#alerts-manager {
    position: fixed;
    top: 40%;
    width: 100%;
    z-index: 9999;

    .alert {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        min-width: 10em;
        text-align: center;
        padding: .5em;
        margin-bottom: 0;
        border-radius: 0 0 5px 5px;
    }

    .glyphicon {
        margin-right: .5em;
    }
}
