#kt-modal {
    width: 900px;
    min-height: 550px;
    height: 80vh;

    .modal-content, .modal-body {
        height: 100%;
    }
    
    .modal-body {
        padding: 20px;
        height: 720px;        
    }

    .btn {
        margin-right: 10px;
    }

    .selected-panel {
        display: flex;
        margin-bottom: 1em;

        .selected-kt-wrapper {
            width: 70%;
            height: 104px;
            overflow-y: auto;
            margin-right: 30px;
        }

        li {
            line-height: 2.3em;
            background-color: #dff0d8;
            border: 1px solid #d6e9c6;
            border-radius: 4px;
            margin-bottom: .5em;
            padding-left: 1em;
            position: relative;
        }

        .tool-icon-wrapper {
            position: absolute;
            cursor: pointer;
            right: 1em;
        }

        .glyphicon-remove {
            color: #a94442;
        }
    }

    .kt-panel-wrapper {
        height: calc(100% - 104px - 1em);
    }
    
    
}
//单题录入弹框样式改版
.panel-body{
        padding: 5px !important;
    }
.modal-content{
    position: relative;
    height: 767px;
    overflow: hidden;
    width: 1013px;
    left: 50%;
    transform: translateX(-50%);
    .modal-header{
        padding: 0;
        .modal-title{
            border-bottom: 0px solid #e5e5e5;
            height: 45px;
            font-size:16px;
            font-family:PingFangSC-Medium;
            color:#281E19;
            line-height: 45px;
            padding-left: 20px;
            font-weight: 600;
            overflow: hidden;
            .title-span{
                font-size:13px;
                font-family:PingFangSC-Regular;
                color:rgba(156,156,156,1);
                margin-left: 10px;
            }
            width: 100%;
            justify-content: space-between;
            .leftTile,.rightTile{
                flex: 1 1 50%;
                font-size: 16px;
            }
            .til,.pageNum{
                font-size:16px;
                font-family:PingFangSC-Medium;
                color:rgba(54,50,49,1);
            }
            .til{
                line-height: 43px;
            }
            .pageNum{
                margin-left: 10px;
            }
            .btb{
                width: 86px;
                height: 30px;
                background: #fff;
                border: 1px solid #e5e5e5;
                border-radius: 2px;
                line-height: 27px;
                font-size: 13px;
                font-family: PingFangSC-Regular;
                color: #363231;
                margin-top: 7px;
                float: left;
            }
            .NowPage{
                font-size:13px;
                font-family:PingFangSC-Regular;
                color:rgba(54,50,49,1);
                width: 66px;
                display: block;
                float: left;
                text-align: center;
            }
            .selectNum{
                width:36px;
                height:36px;
                background:rgba(127,186,255,1);
                border-radius: 50%;
                line-height: 36px;
                font-size:16px;
                font-family:PingFangSC-Semibold;
                color:rgba(255,255,255,1);
                margin-left: 80px;
                display: inline-block;
                text-align: center;
                line-height: 36px;
            }
            .selectNumBig,.sureBig{
                float: right;
            } 
            .sureBig{
                margin-right: 100px;
                margin-top: 4px;
                font-weight: 0;
            }
            .selectNumBig{
                margin-top: 4px;
                margin-right: 12px;
                margin-left: 0px;
            }
            
            .sureBtb{
                background: #FFD343;
                width: 100px;
                height: 36px;
                border: 1px solid #e5e5e5;
                font-size: 15px;
                font-family: PingFangSC-Regular;
                color: #787878;
                border-radius: 5px;
                margin-left: 16px;
                line-height: 30px;
                font-weight: 100;
            }
            .sureBigbtn{
                margin-right: 70px;
                margin-top: 4px;
                margin-left: -90px;
            }
            .searchBig{
                margin-right:97px;
                font-weight: 100;
                background: #fff;
                margin-left: 11px;
            }
            
        }
    }
    .aloneBox{
        height: 722px;
        width: 100%;
        overflow-y: scroll;
        .noShow{
            display: none;
        }
        .haveNone{
            width: 100%;
            text-align: center;
            font-size: 30px;
            color: #e5e5e5;
            top: 40%;
            position: absolute;
            display: block;
        }
    }
    .modal-small{
        display: block;
    }
    .close{
        width: 18px;
        height: 18px;
        margin-right: 14px;
        font-size: 24px;
        margin-top: 7px;
        position: absolute;
        right: 0px;
    }
    .modal-body{
        padding-top: 0;
        .parsing-op-zone{
            position: absolute;
            left: 50%;
            top: -48px;
            width: 40%;
            height: 47px;
            
            .btbCommon{
                width: 100px;
                height: 36px;
                background: none;
                border: 1px solid #e5e5e5;
                font-size:15px;
                font-family:PingFangSC-Regular;
                color:rgba(120,120,120,1);
                margin-top: 7px;
                line-height: 33px;
                border-radius: 2px;
                padding: 0;
            }
            .jieXi{
                margin-right: 70px;
            }
            .savebtb{
                background: #FFD343;
            }
            .paiBan{
                background: #FFD343;
                margin-left: 0;
            }
        }
        .selectBox{
            width: 100%;
            height: 50px;
            .btn-group-justified{
                width: auto;
                float: left;
                font-size:13px;
                font-family:PingFangSC-Medium;
                color:rgba(73,69,69,1);
                select{
                    margin-left: 10px;
                    margin-right: 20px;
                    font-size:13px;
                        font-family:PingFangSC-Regular;
                        color:rgba(73,69,69,1);
                }
            }
            .ulBox{
                width: 125px;
                float: left;
                margin-top: 15px;
                margin-right: 10px;
                .ulAloneBox{
                    position: relative;
                    width: 88px;
                    height: 30px;
                    display: block;
                    float: right;
                    select{
                        cursor: pointer;
                        padding: 0;
                        border:1px solid rgba(234,234,234,1);
                        box-sizing: border-box;
                        background: #fff;
                        width: 100%;
                        margin-top: 2px;
                        height: 30px;
                        option{
                            padding-left: 11px;
                            height: 25px;
                            font-size:13px;
                            font-family:PingFangSC-Regular;
                            color:rgba(34,25,22,1);
                            line-height: 25px;
                            &:hover{
                                background:rgba(216,216,216,1);
                            }
                        }
                    }
                }
                
                .ulName{
                    display: block;
                    float: left;
                    height: 100%;
                    line-height: 30px;
                }
            }
            .ulBoxBig{
                width: 100%;
                margin-top: 20px;
                .ulAloneBox{
                    float: left;
                }
                .ulName{
                    margin-left: 20px;
                    margin-right: 10px;
                }
            }
        }
        .parser-input-zone{
            overflow-y: scroll;
            max-height: 600px;
            width: 100%;
        }
        
        
        
//      overflow:hidden;
        .bodyWrap{
            height: 100%;
            .treeBox{
                float: left;
                width: 300px;
                background: yellow;
                height: 100%;
                overflow-y: hidden;
                .rst__tree{
                    .rst__virtualScrollOverride{
                        height: 670px!important;
                    }                    
                }
            }
            .aloneItemBox{
                width: 670px;
                float: left;
                margin-left: 20px;
                .aloneItem{
                    width: 100%;
                }
                .tilSelect{
                    margin-bottom: 14px;
                    font-size:16px;
                    font-family:PingFangSC-Medium;
                    color:rgba(120,120,120,1);
                    overflow: hidden;
                    padding-top: 18px;
                    .tHead{
                        float: left;
                        margin-top: 5px;
                        margin-right: 10px;
                    }
                    li{
                        float: left;
                        height:30px;
                        line-height: 30px;
                        padding: 0 35px 0 14px;
                        margin-right: 5px;
                        margin-bottom: 10px;
                        border-radius:15px;
                        border:1px solid rgba(250,191,0,1);
                        position: relative;
                        list-style: none;
                        span{
                            width: 14px;
                            height: 14px;
                            border-radius: 50%;
                            display: block;
                            box-sizing: border-box;
                            position: absolute;
                            cursor: pointer;
                            top: 7px;
                            right: 7px;
                            background:rgba(224,224,224,1);
                            text-align: center;
                            line-height: 14px;
                            color: #fff;
                            transform: rotateZ(45deg);
                        }
                    }
                }
            }
        }
        
        
    }
}
.cancel-btn:hover{
    box-shadow:0px 2px 5px 0px rgba(176,176,176,0.59);
    border:1px solid #787878 !important;
}
.cancel-btn:active {
    background: rgba(242, 242, 242, 1) !important;
}
.sure-btn{
    border:none;
}
.sure-btn:hover{
    box-shadow:0px 2px 5px 0px rgba(227,174,0,1);
}
.sure-btn:active{
    background:rgba(255,193,67,1) !important;
}
.parser-input-zone::-webkit-scrollbar,.item-preview-pane::-webkit-scrollbar,.treeBox::-webkit-scrollbar,.rst__virtualScrollOverride::-webkit-scrollbar,.alongBigBox::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}

.parser-input-zone::-webkit-scrollbar-thumb,.item-preview-pane::-webkit-scrollbar-thumb,.treeBox::-webkit-scrollbar-thumb,.rst__virtualScrollOverride::-webkit-scrollbar-thumb,.alongBigBox::-webkit-scrollbar-thumb{
    height: 10px;
    width: 10px;
    background: #A6AAB3;
    border-radius: 3px;
}

#item-parsing{
    .item-preview-pane{
        .tilLeft{
            font-size:13px;
            font-family:PingFangSC-Regular;
            color:rgba(73,69,69,1);
            width: 100%;
            text-align: center;
            margin-top: 220px;
        }
        overflow-y: auto;
        padding-left: 20px;
        padding-top: 16px;
    }
    .item-input-pane{
        flex: 1 1 48%;
        .item-input-wrapper:nth-of-type(1){
            margin-top: 22px;
        }
    }
}

.modal-open .modal{
    overflow-y: hidden;
}
#dialog-root .modal-dialog.modal-big{
    margin: 30px auto;
}
#dialog-root .modal-body{
    height: 720px;
    padding: 0;
}

.aloneItem{
    position: relative;
    width:973px;
    background:rgba(255,255,255,1);
    border-radius:1px;
    border:1px solid rgba(234,234,234,1);
    margin: 0 auto 10px;
    .answerBox{
        width: 100%;
        background:rgba(251,251,251,1);
        padding: 6px 10px 12px 23px;
        display: block;
        .teachIt{
            margin-bottom: 0;
        }
    }
    .mark{
        width: 18px;
        height: 18px;
        position: absolute;
        left: 0;
        top: 0;
        background:rgba(234,234,234,1);
        cursor: pointer;
        span{
            display: block;
            width: 13px;
            height: 9px;
            margin: 1px 0 0 -1px;
            background: url(../../img/gou.png) no-repeat center;
            background-size: 100% 100%;
        }
    }
    .tiGan,stem{
        padding: 14px 10px 9px 32px;
    }
    .auxiliary{
        display: none;
    }
    .bottomBtn{
        overflow: hidden;
        width: 100%;
        height: 50px;
        button{
            width: 80px;
            height: 30px;
            background: rgba(255,255,255,1);
            border-radius: 2px;
            border: 1px solid rgba(225,225,225,1);
            font-size: 13px;
            font-family: PingFangSC-Regular;
            color: rgba(120,120,120,1);
            float: right;
            margin: 10px 10px;
            text-align: right;
            span{
                display: block;
                float: left;
                width: 10px;
                height:6px;
                margin-top: 6px;
                background: url(../../img/down.png) no-repeat center;
                background-size: 100% 100%;
            }
            i{
                font-style:normal;
            }
        }
    }
}
.aloneItem:nth-of-type(1){
    margin-top: 24px;
}
.aloneBig:nth-of-type(1){
    margin-top: 0;
}
.alongBigBox{
    height: 648px;
    overflow-y: scroll;
}

//大题飞掉后
.bodyWrap{
    height: 100%;
    .treeBox{
        float: left;
        width: 300px;
        background: #F8F8F8;
        height: 100%;
        overflow-y: hidden;
        .rst__tree{
            .rst__virtualScrollOverride{
                height: 650px!important;
                position: absolute!important;
//              position: absolute;
//              left: 0;
//              top: 0;
//              width: 300px!important;
            }                    
        }
    }
    .aloneItemBox{
        width: 670px;
        float: left;
        margin-left: 20px;
        .aloneItem{
            width: 100%;
        }
        .tilSelect{
            margin-bottom: 14px;
            font-size:16px;
            font-family:PingFangSC-Medium;
            color:rgba(120,120,120,1);
            overflow: hidden;
            padding-top: 18px;
            .tHead{
                float: left;
                margin-top: 5px;
                margin-right: 10px;
            }
            li{
                float: left;
                height:30px;
                line-height: 30px;
                padding: 0 35px 0 14px;
                margin-right: 5px;
                margin-bottom: 10px;
                border-radius:15px;
                border:1px solid rgba(250,191,0,1);
                position: relative;
                list-style: none;
                span{
                    width: 14px;
                    height: 14px;
                    border-radius: 50%;
                    display: block;
                    box-sizing: border-box;
                    position: absolute;
                    cursor: pointer;
                    top: 7px;
                    right: 7px;
                    background:rgba(224,224,224,1);
                    text-align: center;
                    line-height: 14px;
                    color: #fff;
                    transform: rotateZ(45deg);
                }
            }
        }
    }
}

.modal-title{
    border-bottom: 0px solid #e5e5e5;
    height: 45px;
    font-size:16px;
    font-family:PingFangSC-Medium;
    color:rgba(54,50,49,1);
    line-height: 45px;
    padding-left: 22px;
    font-weight: 600;
    overflow: hidden;
    .tilLeftBox{
        float: left;
        width: 280px;
    }
    .tilRightBox{
        float: right;
        width: 600px;
        height: 45px;
    }
    .title-span{
        font-size:13px;
        font-family:PingFangSC-Regular;
        color:rgba(156,156,156,1);
        margin-left: 10px;
    }
    width: 100%;
    justify-content: space-between;
    .jiaoAnTilLeft{
        float: left;
        margin-right: 300px;
    }
    .leftTile,.rightTile{
        flex: 1 1 50%;
        font-size: 16px;
    }
    .til,.pageNum{
        font-size:16px;
        font-family:PingFangSC-Medium;
        color:rgba(54,50,49,1);
    }
    .til{
        line-height: 43px;
    }
    .pageNum{
        margin-left: 10px;
    }
    .btb{
        width: 86px;
        height: 30px;
        background: #fff;
        border: 1px solid #e5e5e5;
        border-radius: 2px;
        line-height: 27px;
        font-size: 13px;
        font-family: PingFangSC-Regular;
        color: #363231;
        margin-top: 7px;
    }
    .NowPage{
        font-size:13px;
        font-family:PingFangSC-Regular;
        color:rgba(54,50,49,1);
        width: 66px;
        display: block;
        float: left;
        text-align: center;
    }
    .selectNum{
        width:36px;
        height:36px;
        background:rgba(127,186,255,1);
        border-radius: 50%;
        line-height: 36px;
        font-size:16px;
        font-family:PingFangSC-Semibold;
        color:rgba(255,255,255,1);
        margin-left: 80px;
        display: inline-block;
        text-align: center;
        line-height: 36px;
    }
    .selectNumBig,.sureBig{
        float: right;
    } 
    .sureBig{
        margin-right: 100px;
        margin-top: 4px;
        font-weight: 0;
    }
    .selectNumBig{
        margin-top: 4px;
    }
    
    .sureBtb{
        background: #FFD343;
        width: 100px;
        height: 36px;
        border: 1px solid #e5e5e5;
        font-size: 15px;
        font-family: PingFangSC-Regular;
        color: #787878;
        border-radius: 5px;
        margin-left: 16px;
        line-height: 30px;
        font-weight: 100;
    }
    .searchBig{
        margin-right: 0;
        font-weight: 100;
        background: #fff;
        margin-left: 11px;
    }
}
.selectBox{
    width: 100%;
    height: 70px;
    background: #fff;
    padding-left: 10px;
    .btn-group-justified{
        width: auto;
        float: left;
        font-size:13px;
        font-family:PingFangSC-Medium;
        color:rgba(73,69,69,1);
        select{
            margin-left: 10px;
            margin-right: 20px;
            font-size:13px;
            font-family:PingFangSC-Regular;
            color:rgba(73,69,69,1);
        }
    }
    .ulBox{
        width: 125px;
        float: left;
        margin-top: 15px;
        margin-right: 10px;
        .ulAloneBox{
            position: relative;
            width: 88px;
            height: 30px;
            display: block;
            float: right;
        }
        select{
            height: 30px;
            cursor: pointer;
            padding: 0;
            border:1px solid rgba(234,234,234,1);
            box-sizing: border-box;
            background: #fff;
            width: 100%;
            margin-top: 2px;
            option{
                padding-left: 11px;
                height: 25px;
                font-size:13px;
                font-family:PingFangSC-Regular;
                color:rgba(34,25,22,1);
                line-height: 25px;
                &:hover{
                    background:rgba(216,216,216,1);
                }
            }
        }
        .ulName{
            display: block;
            float: left;
            height: 100%;
            line-height: 30px;
        }
    }
    .ulBoxBig{
        width: 100%;
        margin-top: 20px;
        .ulAloneBox{
            float: left;
        }
        .ulName{
            margin-left: 20px;
            margin-right: 10px;
        }
    }
}

.sortBox{
    height: 668px;
}

.ulBox{
    width: 125px;
    float: left;
    margin: {
        top: 15px;
        right: 10px;
        bottom: 10px;
    };
    .ulAloneBox{
        position: relative;
        width: 88px;
        height: 30px;
        display: block;
        float: right;
    }
    select{
        cursor: pointer;
        padding: 0;
        border:1px solid rgba(234,234,234,1);
        box-sizing: border-box;
        background: #fff;
        width: 100%;
        margin-top: 2px;
        height: 30px;
        option{
            display: block;
            height: 30px;
            border: 0;
            padding-left: 11px;
            height: 25px;
            font-size:13px;
            font-family:PingFangSC-Regular;
            color:rgba(34,25,22,1);
            line-height: 25px;
            &:hover{
                background:rgba(216,216,216,1);
            }
        }
    }
    .ulName{
        display: block;
        float: left;
        height: 100%;
        line-height: 30px;
    }
}
.formCreat .modal-footer{
    border-top: 0;
}

.auxiliary .ktags{
    display: block;
}
.auxiliary .ktags .ktag{
    white-space: normal;
}
