#volume-input-page {
    display: flex;

    stem, opt, .auxiliary {
        border: 1px dashed grey;
    }

    .volume-preview-pane {
        flex: 1 1 50%;
        margin-right: 2em;
        max-height: $page-main-min-content-height;
        overflow-y: auto;
    }

    .volume-input-pane {
        flex: 1 1 50%;
        max-height: $page-main-min-content-height;
        overflow-y: auto;
    }

    .item-input-pane .item-input-wrapper {
        margin: 2em auto;
    }

    .item-extra-switcher {
        margin: 1em auto;
    }

    .item-extra-switcher .btn.active {
        background-color: #337ab7;
    }

    .op-zone {
        top: 200px;
        right: 5px;

        display: flex;
        flex-direction: column;

        .btn {
            display: block;
            margin: .5em;
        }
    }
}
