.itemContainer{
  background:rgba(255,255,255,1);
  border:1px solid rgba(234,234,234,1);
  margin-bottom:30px;
  .itemTitle{
    height:36px;
    line-height:36px;
    .clolors{
      display:inline-block;
      width:26px;
      height:13px;
      margin-top: 12px;
      margin-left:10px;
      background:rgba(74,144,226,1);
    }
    .ItemName{
      height:22px;
      display: inline-block;
      min-width:64px;
      font-size:16px;
      font-family:PingFangSC-Medium;
      color:rgba(40,30,25,1);
      line-height:22px;
      margin-right:20px;
      margin-left:10px;
    }
    .plan-tips{
      height:13px;
      font-size:13px;
      font-family:PingFangSC-Medium;
      color:rgba(250,191,0,1);
      line-height:13px;
      margin-left:20px;
    }
    .delItem{
      font-size: 26px;
      color: #D8D8D8;
      transform: rotateZ(45deg);
      float: right;
      line-height: 36px;
      margin-right: 11px;
      cursor:Pointer;
    }
    .delItem:hover, .delItem:active{
      color:rgb(183,183,183);
    }
  }
  .itemText{
    .ke-container{
      border: none;
      .ke-toolbar{
        border: none;
      }
      .ke-statusbar{
        border: none;
      }
    }
  }
  .hidebtn{
    display:none;
  }
  .itemText{
    margin-bottom:0px;
  }

  .itemBtns{
    .btns{
      height:48px;
      padding-top:9px;
      text-align:right;
      .btnb{
        width:80px;
        height:30px;
        text-align:center;
        background:rgba(255,255,255,1);
        border-radius:2px;
        border:1px solid rgba(216,216,216,1);
        margin-right:20px;
        font-size:13px;
        font-family:PingFangSC-Regular;
        color:rgba(54,50,49,1);
        cursor:Pointer;
        box-shadow:none;
        -webkit-box-shadow:none;
      }
      .btnb:hover{
        border:1px solid rgba(120,120,120,1);
      }
      .btnb:active{
        background:rgba(242,242,242,1);
        border:1px solid rgba(225,225,225,1);
        box-shadow:none;
        -webkit-box-shadow:none;
      }

    }
    .preview{
        display:block;
        background-color:rgb(254,251,243);
        border:1px dotted #666;
        padding:10px;
        font-size:13px;
        font-family:PingFangSC-Regular;
        color:rgba(54,50,49,1);
        box-sizing:content-box;
    }
    .previewNone{
      display:none;
    }
    .unFoldPreview{
      font-size:10px;
      text-align: right;
      font-family:PingFangSC-Regular;
      color:rgba(74,144,226,1);
      cursor:pointer;
      position:absolute;
      bottom:10px;
      right:20px;
    }
    .unFoldPreview:hover{
      color:#4A61E2;
    }
    .unFoldPreview:active{
      color:#4A90E2;
    }
  }
}