#item-search {
    padding: 20px;
    display: flex;
    position: relative;

    .op-zone {
        flex: 0 0 26em;
    }

    .result-zone {
        flex: 1 1 auto;
        overflow: auto;
    }

    .tools-wrapper {
        margin: 1em 0em .5em 1em;;
        overflow: auto;
    }

    .tools-wrapper .btn {
        margin-right: 1em;
    }
}

.search-panel {
    dl {
        display: flex;
        line-height: 2.5em;
        margin-bottom: .5em;
    }

    dt {
        width: 6em;
        text-align: right;
        margin-right: .5em;
        height: 2.5em;
        line-height: 2.5em;
    }

    dd {
        width: 100%;
    }
}

.search-btn-wrapper {
    text-align: center;
}

.item-type-selector {
    width: 18em;

    .btn {
        margin: 2px 2px;
    }
}

.source-wrapper dd label {
    line-height: 2.5em;
    margin-right: .8em;
}

.keyword-wrapper dd input {
    border: 0px;
    line-height: 2em;
    border-bottom: 1px solid #ddd;
    background-color: #ebebeb;
    outline: 0;
    width: 18em;
}

.item-kt-wrapper {
    .kt-tools {
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
    }
}

.stars-group {
    padding-left: 0px;
    /*line-height: 2.5em;*/
}

.edu-tab-wrapper {
    margin-bottom: 1.5em;

    li {
        height: 1.5em;
        width: 6em;
    }

    li a {
        padding: 5px 10px;
        cursor: pointer;
    }
}

.kt-modal {
    position: fixed;
    width: 900px;
    min-height: 550px;
    height: 80vh;
    left: 50%;
    top: 10vh;
    transform: translateX(-50%);

    background-color: #ebebeb;
    border: 1px solid #ddd;
    z-index: 99;
    box-shadow: 3px 5px 15px rgba(0, 0, 0, .5);

    .btn {
        margin-right: 10px;
    }

    .body {
        padding: 20px;
        height: 100%;
    }

    .selected-panel {
        display: flex;
        margin-bottom: 1em;
    }

    .kt-panel-wrapper {
        height: calc(100% - 104px - 1em);
    }

    .selected-kt-wrapper {
        width: 70%;
        height: 104px;
        overflow-y: auto;
    }
}

.kt-items {
    list-style: none;
    padding-left: 0px;
    margin-right: 1em;

    li {
        line-height: 2.3em;
        background-color: #dff0d8;
        border: 1px solid #d6e9c6;
        border-radius: 4px;
        margin-bottom: .5em;
        padding-left: 1em;
        position: relative;
    }

    .tool-icon-wrapper {
        position: absolute;
        cursor: pointer;
        right: 1em;
    }

    .glyphicon-remove {
        color: #a94442;
    }
}

.items-wrapper {
    list-style: decimal;

    >li {
        border-top: 1px dotted #ccc;
    }

    .item-html-wrapper {
        cursor: pointer;
    }
}

.show-auxiliary {

    .auxiliary, .tools-wrapper  {
        display: block;
    }
}

.hide-auxiliary {
    .auxiliary, .tools-wrapper {
        display: none;
    }
}

.star {
    cursor: pointer;
}

.star.selected {
    color: #FFD343;
}
