.stars-group-wrapper {

    ul {
        display: inline-block;
        color: gray;
        padding-left: 1em;
    }

    .star {
        color: #fff;
        cursor: pointer;
        font-size: 15px;
    }

    .star.selected {
        color: green;
    }
}

.stars-group-wrapper > span {
    padding-left: .2em;
}
