<!DOCTYPE html>
<html lang="zh">
<head>
    <title><%=config['SITE_TITLE']%> - <%=config['SUBJECT']%></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="//<%=config['CDN_DOMAIN'] %>/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/commons.css">
    <link rel="stylesheet" href="/main.css">
    <script>
        <%- bootstrap %>
    </script>
    <script type="text/javascript">
      function quit() {
        localStorage.clear();
        window.location.href= "/auth/logout"
      }
        const Global = <%- global %>
    </script>
    <script type="text/javascript">
        if(location.pathname.indexOf('/auth/login') ==-1) {
            let user = localStorage.getItem('user')
            if (!user) {
                location.href = '/auth/login'
            } else {
                Global.user = JSON.parse(decodeURIComponent(user))
                Global.userId = Global.user._id;
            }
        }
    </script>
</head>
<body>
<header id="page-header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">

                </a>
            </div> <!-- navbar-header -->
            <div class="collapse navbar-collapse" id="quantum-navbar">
                <div class="page-nav">
                </div>

                <script type="text/javascript">
                    if (Global.user) {
                        document.write('<ul class="nav navbar-nav navbar-right user"> ' +
                            '<li class="user-avatar"/>' +
                            '<li class="user-email"><a href="/profile"> '+Global.user.email+'<i></i></a></li>' +
                            '<li><a onclick="quit()" >退出</a></li></ul>')
                    }
                </script>
            </div><!-- /.navbar-collapse -->
        </div> <!-- container-fluid -->
    </nav>
</header>

<div id="main" class="main">
    <div id='bootstrap-indicator'></div>
</div>

<footer id="page-footer">
    <p className="copyright">© 优能中学教育</p>
    <p className="p2">(Release: dev, Git Version: 278f7e22)</p>
    <p className="p3">建议您使用360、Google Chrome，分辨率1280*800及以上浏览本网站，获得更好用户体验</p>
</footer>

<div id="dialog-root"></div>
<div id="alerts-root"></div>

<script>
    setTimeout(function () {
        var indicator = document.querySelector('#bootstrap-indicator');
        if (indicator) {
            indicator.innerHTML = 'System is bootstrapping...';
        }
    }, 500);
</script>

<script src="//<%= config['CDN_DOMAIN'] %>/raven/3.14.2/raven.min.js"></script>
<% if (config['DEBUG']) { %>
    <script type="text/javascript" defer="defer" src="/mathType/editor.js"></script>
    <script src="//<%= config['CDN_DOMAIN'] %>/react/16.0.0/react.development.js"></script>
    <script src="//<%= config['CDN_DOMAIN'] %>/react/16.0.0/react-dom.development.js"></script>
    <script src="//<%= config['CDN_DOMAIN'] %>/react-router/3.2.0/react-router.js"></script>
    <script src="//<%= config['CDN_DOMAIN'] %>/immutable/3.8.1/immutable.js"></script>
    <script src="//<%= config['CDN_DOMAIN'] %>/jquery/jquery-3.2.1.js"></script>
    <script async src="//<%= config['CDN_DOMAIN'] %>/echarts/3.5.4/echarts.js"></script>
<% } else { %>
    <script type="text/javascript" defer="defer" src="/mathType/editor.min.js"></script>
    <script src="//<%= config['CDN_DOMAIN'] %>/react/16.0.0/react.production.min.js"></script>
    <script src="//<%= config['CDN_DOMAIN'] %>/react/16.0.0/react-dom.production.min.js"></script>
    <script src="//<%= config['CDN_DOMAIN'] %>/react-router/3.2.0/react-router.min.js"></script>
    <script src="//<%= config['CDN_DOMAIN'] %>/immutable/3.8.1/immutable.min.js"></script>
    <script src="//<%= config['CDN_DOMAIN'] %>/jquery/jquery-3.2.1.min.js"></script>
    <script async src="//<%= config['CDN_DOMAIN'] %>/echarts/3.5.4/echarts.min.js"></script>
<% } %>
<script src="//<%= config['CDN_DOMAIN'] %>/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script src="/ckeditor/ckeditor.js"></script>
<!--<script src="https://www.wiris.net/demo/editor/editor"></script>-->
<script src="//<%= config['CDN_DOMAIN'] %>/kindeditor/latest/kindeditor-all-min.js"></script>

<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      showMathMenu: false,
      messageStyle: "none",
      tex2jax: {
        inlineMath: [ ["\\(","\\)"], ["$", "$"]],
        displayMath: [ ["\\[","\\]"], ["$$", "$$"] ],
        processEscapes: true
      },
      MathML: {
       extensions: ["content-mathml.js"],
      },

      TeX: {
        equationNumbers: {autoNumber: ["AMS"], useLabelIds: true},
        extensions: ["mhchem.js"]
      },
      SVG: {linebreaks: {automatic: true}, scale:85, minScaleAdjust:40},
      CommonHTML: {linebreaks: {automatic: true}, scale:85, minScaleAdjust:40}
    });

</script>
<script type="text/javascript"
        src="//<%= config['CDN_DOMAIN'] %>/mathjax2/2.7.2/MathJax.js?config=TeX-AMS_SVG-full"></script>
<script src="/commons.js"></script>
<% if (entryjs) { %>
<script src="/<%= entryjs %>"></script>
<% } %>
</body>
</html>
