<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
        <link rel="stylesheet" href="//<%=config['CDN_DOMAIN']%>/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/commons.css">
    </head>
    <body>
        <div id="error-page">
            <article class="container">
                <div class="code"><%= code %></div>
                <div class="hint"><%= desc %></div>
                <div class="actions">
                    <button class="refresh">刷新</button>
                    <button class="back">上一页</button>
                    <button class="home">主页</button>
                </div>
            </article>
        </div>

        <script src="//<%= config['CDN_DOMAIN'] %>/jquery/jquery-3.2.1.min.js"></script>
        <script>
         $(document).ready(function() {
             $('.refresh').click(function() {
                 location.reload();
             });
             $('.back').click(function() {
                 history.back();
             });
             $('.home').click(function() {
                 location.href = "/";
             });
         });
        </script>
    </body>
</html>
