<!DOCTYPE html>
<html lang="zh">
<head>
  <title><%=config['SITE_TITLE']%> - <%=config['SUBJECT']%></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="stylesheet" href="//<%=config['CDN_DOMAIN']%>/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/commons.css">
  <link rel="stylesheet" href="/main.css">
  <script>
    <%- bootstrap %>
  </script>
</head>
<body>

    <div id="main" class="login-main">
      <div id='bootstrap-indicator'></div>
    </div>

  <footer id="page-footer">
    <p><span class="copyright"> © 2018 优能中学教育</span></p>
  </footer>

  <div id="dialog-root"></div>
  <div id="alerts-root"></div>

  <script>
    setTimeout(function() {
      var indicator = document.querySelector('#bootstrap-indicator');
      if (indicator) {
        indicator.innerHTML = 'System is bootstrapping...';
      }
    }, 500);
  </script>

  <script src="//<%=config['CDN_DOMAIN']%>/raven/3.14.2/raven.min.js"></script>
  <script src="//<%=config['CDN_DOMAIN']%>/babel-polyfill/6.16.0/polyfill.min.js"></script>
    <!--<script src="https://unpkg.com/rctui/dist/index.js"></script>-->
  <% if (config['DEBUG']) {%>
  <script src="//<%=config['CDN_DOMAIN']%>/react/16.0.0/react.development.js"></script>
  <script src="//<%=config['CDN_DOMAIN']%>/react/16.0.0/react-dom.development.js"></script>
  <script src="//<%=config['CDN_DOMAIN']%>/react-router/3.2.0/react-router.js"> </script>
  <script src="//<%=config['CDN_DOMAIN']%>/immutable/3.8.1/immutable.js"></script>
  <script src="//<%=config['CDN_DOMAIN']%>/jquery/jquery-3.2.1.js"></script>
  <script src="//<%=config['CDN_DOMAIN']%>/echarts/3.5.4/echarts.js"> </script>
  <% } else { %>
  <script src="//<%=config['CDN_DOMAIN']%>/react/16.0.0/react.production.min.js"></script>
  <script src="//<%=config['CDN_DOMAIN']%>/react/16.0.0/react-dom.production.min.js"></script>
  <script src="//<%=config['CDN_DOMAIN']%>/react-router/3.2.0/react-router.min.js"> </script>
  <script src="//<%=config['CDN_DOMAIN']%>/immutable/3.8.1/immutable.min.js"></script>
  <script src="//<%=config['CDN_DOMAIN']%>/jquery/jquery-3.2.1.min.js"></script>
  <script src="//<%=config['CDN_DOMAIN']%>/echarts/3.5.4/echarts.min.js"> </script>
  <% } %>

  <script src="//<%=config['CDN_DOMAIN']%>/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <script>
      const Global = <%- global %>
  </script>
    <script src="/commons.js"></script>
    <% if (entryjs) { %>
    <script src="/<%= entryjs %>"></script>
    <% } %>
</body>
</html>
