<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=config['SITE_TITLE']%> - <%=config['SUBJECT']%></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="//<%= config['CDN_DOMAIN'] %>/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//<%= config['CDN_DOMAIN'] %>/static/<%= config['SUBJECT'] %>/commons.css">
    <link rel="stylesheet" href="//<%= config['CDN_DOMAIN'] %>/static/<%= config['SUBJECT'] %>/main.css">
    <script>
        <%- bootstrap %>
    </script>
</head>
<body>

</body>
</html>