#paper-view {
    .paper-header {
        display: flex;
    }

    .paper-item-ids {
        flex: 0 0 20em;
        margin-right: 2em;
    }

    .paper-metas {
        flex: 1 1 auto;

        .province-select {
            height: 20em;
        }
    }

    .op-zone {
        text-align: right;
        padding-right: 5em;
    }

    .big-modal {
        width: 90%;
        margin: 5em auto;
    }

    #modal-container .op-zone {
        text-align: left;
    }

    h1 {
        text-align: center;
    }

    @media print {
        .item-display {
            wiki, .general-info, .tagging, .difficulty {
                display: none !important;
            }
        }
    }
}

#paperList{
    min-height:calc(100vh-52px);
    .container-list{
        padding: 0px 30px;
        position: absolute;
        top: 0px;
        width: 100%;
        bottom: 100px;
        .container-col{
            width: 100%;
            min-height:100%;
            position:relative;
        }
        .filter-row{
            margin: 35px 0px 17px 0px;
            label{
                font-size: 13px;
                //font-family:PingFangSC-Medium;
                font-weight: 500;
                color: rgba(120,120,120,1);
            }
        }
        .titles{
            padding-right:7px;
        }
        .content {
            width: 100%;
            position: absolute;
            top: 120px;
            bottom: 40px;
            background: #fff;
            overflow: hidden;
            overflow-y: scroll;
        }
        table.tablepaper{
            border:none !important;
            width: 100%;
            thead {

                tr {
                    height: 42px;
                    background-color:rgb(244,244,244);
                    th {
                        padding-left:8px;
                        backgound-color: #f5f5f5 !important;
                    }
                }
            }
            tbody{
                background: #fff;
                tr{
                    height: 42px;
                    background: #fff !important;
                    border-bottom:1px solid rgba(245,245,245,1) !important;
                    td{
                        height: 42px;
                        line-height: 42px;
                        padding: 0px 8px;
                        font-size: 13px;
                        font-weight: 500;
                        color: #787878;
                    }
                }
                tr:hover{
                    background: #FFEBAA !important;
                    td{
                        color: #262223;
                    }
                }
                .paperName{
                    overflow: hidden;
                    text-overflow:ellipsis;
                    white-space: nowrap;
                }
                .statusBlue{
                    color: #4A90E2;
                    font-size:13px;
                    font-weight:500;
                }
                .c{
                    color: #262223;
                    font-size:13px;
                    font-weight:500;
                }
                .statusBlue span, .statusBlack span{
                    display:block;
                    cursor:pointer;
                }
            }
        }
        .pagenation{
            position: absolute;
            bottom: 0px;
            width:100%;
            height:46px;
            padding-top:8px;
            background-color:#fff;
            .pagination-wrapper{
                margin: 0 auto;
            }
        }

    }

}
