#users-list {
    @include table;
    padding: 0em;
    .userlist-container {
        padding: 30px 30px 0 30px;
        position: absolute;
        top: 0px;
        width: 100%;
        bottom: 100px;
        .content-container {
            position: relative;
            padding: 0;
            .label {
                line-height: 30px;
                color: #787878;
            }
            .search {
                max-width: 451px;
                width:100%;
                height: 30px;
                background: rgba(255, 255, 255, 1);
                border-radius: 2px;
                border: 1px solid rgba(225, 225, 225, 1);
                color: #787878;
                font-size: 13px;
            }
            .searchBtn {
                width: 60px;
                height: 30px;
                background: rgba(255, 255, 255, 1);
                border-radius: 2px;
                border: 1px solid rgba(225, 225, 225, 1);
                font-size: 13px;
                font-family: PingFangSC-Regular;
                font-weight: 400;
                color: rgba(120, 120, 120, 1);
            }
            .title {
                margin-top: 23px;
                .table-head {
                    thead {
                        boder: none !important;
                        tr {
                            background: rgba(245, 245, 245, 1);
                            border-bottom: none;

                        }
                        th {
                            color: #231F20;
                            font-size: 16px;
                            height: 28px;
                            font-family: PingFangSC-Medium;
                            font-weight: 600;
                        }
                    }

                }
            }
            .content {
                width: 100%;
                position: absolute;
                top: 102px;
                bottom: 42px;
                background: #fff;

                padding:0;
                overflow: hidden;
                overflow-y: scroll;

                .link, .link1 {
                    color: #4A90E2;
                }
                .link1 {
                    margin-right: 20px;
                }
                table {
                    .name-container a, .mail-container a {
                        color: #787878;
                    }
                    td {
                        font-size: 13px;
                        font-family: PingFangSC-Medium;
                        font-weight: 500;
                        color: rgba(120, 120, 120, 1);
                        height: 48px;
                        background-color: #fff;
                        border-bottom: 1px solid rgba(245, 245, 245, 1);
                    }
                    .permissions-container span {
                        margin-right: 6px;
                    }
                }

            }
            .pagenation {
                position: absolute;
                bottom: 0px;
                width: 100%;
                height: 46px;
                padding-top: 8px;
                background-color: #fff;
                .pagination-wrapper {
                    margin: 0 auto;
                }
            }
        }
    }

    .btn {
        background: #4d77ee;
        border-color: #3559be;
        width: 5.71em;
        margin: 1em;
        margin-top: 50px;
    }

    .btn:hover {
        background: #325ccf;
        border-color: #3250a4;
    }

    .table {
        margin-bottom: 0em;
    }

    .text-left {
        text-align: left !important;
    }
}

#user-statistics {
    text-align: left;

    .date-range-form {
        .form-group {
            margin-right: 2em;
        }
    }

    .search-bar-wrapper {
        margin: 20px 0;

        button {
            margin-left: 20px;
        }
    }
}

#my-recent-op-logs, #user-recent-op-logs {
    width: 1100px;
    margin: auto;
}

#userinfo-form {
    background: #fff;
    border: 1px solid #eaeaef;
    border-radius: 4px;
    padding: 2.57em 0em;

    .text-left {
        text-align: left;
    }

    .btn {
        background: #4d77ee;
        border-color: #3559be;
        width: 5.71em;
    }

    .btn:hover {
        background: #325ccf;
        border-color: #3250a4;
    }

    .btn.disabled {
        background: #acacac;
        border-color: #c4c4c4;
    }
}
